{% extends "base.html" %}
{% load static %}
{% block head %}

{{ block.super }}
{% endblock %}

{% block body %}

        <div class="#" style="width: 100%;" >
        <div class="main-sentence-top"  style="height: 400px; text-align: center;" >
            <p>6岁那年的午后，你躺在床上纠结下午是去阿树家打魂斗罗还是带着弹弓去打鸟</p>
            <p>8岁那年的清晨，你赖在床上纠结着要不要为了不上课去和妈妈装病撒娇。</p>
            <p>11岁那年的夜里，你趴在床上盯着手机屏幕，发来的告白短信让你激动的整晚睡不着。</p>
            <p>14岁那年的夜里，你在床上假装睡着，听着门外两个人的争吵，你也不知道之后突如其来的一堆事会把这个家庭变得多糟。</p>
            <p>17岁那年的夜里，你昏倒在床上，手术完麻药过后的疼痛让你无法承受。</p>
            <p>18岁那年的夜里，你坐在k1501列车的座位上，生平第一次离开故土，看着远方的夜，你感到淡淡的愁绪萦绕。</p>
            <p>20岁那天夜里，你独自在校园里走，任凭风雨打在身上，忧虑不知何时爬满了少年的心头。</p>
        </div>
            <div class="main-sentence-bottom"  style="height: 600px;margin-bottom: 0px; background-color: #222;text-align: center;">
                <p>人生转眼便是二十一载，</p>
                <p>想得到的该来的都还没来,</p>
                <p>生活无趣而平淡，</p>
                <p>习惯平凡又不甘于平凡，</p>
                <p>这个夜里，你看着天空，</p>
                <p>你所信仰的都已崩坏，</p>
                <p>你所崇拜的跌落神坛，</p>
                <p>你珍惜的都已不复存在，</p>
                <p>你曾经拥有的一切都已烟消云散，</p>
                <p>你的前方是迷途，</p>
                <p>身后亦然。</p>
            </div>
        </div>

{% endblock %}

{% block footer %}
{#   {{ super() }} #}
{% endblock %}
{% block script %}
{{ block.super }}

{% endblock %}